:root {
    --white: ffffff;
    --black: 000000;
    --grey: E0E0E0E0;
    --link: 0000FF;
}

* {
    font: normal normal normal 16px serif;
}

body {
    padding: 20px;
}

/* header */

header {
    position: sticky;
    margin-top: -10px;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

header > * {
    padding: 5px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    background-color: white;
    border-bottom-color: var(--black);
    border-bottom-width: 1px;
    border-bottom-style: outset;
    border-right-color: var(--black);
    border-right-width: 1px;
    border-right-style: outset;
}

/* h1 */

h1 {
  display: flex;
  flex-direction: row;
  font-size: medium;
  padding-top: 15px;
}
h1:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
h1:after {
  margin-left: 10px
}